* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    background: linear-gradient(rgb(101, 201, 255), white);
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.pantalla {
    display: flex;
}